/*
Cтили от Салтыковой А.А.
*/

body{
    margin: 0;
    padding: 0;
    font-family: 'PI serif', serif;
    font-size: 20px;
}
.clearboth{
    clear: both;
}

div{
    box-sizing: border-box;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg_orange{
    background-color:rgb(255, 109, 12) ;
}
.text_color{
    color:  rgb(31, 11, 102)!important;
}
.section .body_element{
   
}

.section.menu{
    padding-top: 20px;
    padding-bottom: 0px;
}

.menu{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.section .list_menu li{
    display: inline-block;
    margin: 10px;
}

.section .list_menu li a{
    color: rgb(140, 105, 221);
    font-size: 18px;
    text-decoration: none;
}

.main{
    background-image: url("img/main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 100px;
}

.main .logo,
.main .tizer{
    text-align: center;
}

.main .logo img{
    width: 500px;
}
.main .tizer{
    margin: 70px 0px;
}
.main .tizer p{
    text-align: center;
    font-size: 20px;
    color:rgb(255, 109, 12);
}

.main .slogan p{
    text-align: center;
    font-size: 40px;
    color:rgb(31, 11, 102);
    font-weight: bold;
}

.p_header{
    font-size: 54px;
    color: rgb(247, 144, 65);
    text-align: center;
    padding: 40px;
    margin: 0px;
}

.about .tizer_about .t_about{
    float:left;
    width: 33.333333%;
    text-align: center;
    padding: 0px 20px;
}

.about .tizer_about .t_about  .t_about_header{
    font-size: 54px;
    padding: 20px 0px;
    color: rgb(4, 4, 104);
    border-bottom: 3px solid rgb(248, 155, 93);
    margin-bottom: 10px;
}
.about .tizer_about .t_about  .t_about_text{
    color: rgb(10, 3, 70);
}
.about .tradicii_about{
    margin-top: 60px;
}
.about .tradicii_about .tra_about{
    float:left;
    width: 600px;
    background-color:rgba(253, 68, 1, 0.727);
    margin:20px ;
    text-align: center;
    height: 550px;
}

.about .tradicii_about .tra_about .img_tradicii_about{
     background-image: url('img/img_ap.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 550px;
}

.about .tradicii_about .tra_about .tra_about_header{
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
color:#fff;
}
.about .tradicii_about .tra_about .tra_about_header{
    line-height: 25px;
    padding: 30px 30px 30px 30px;
}
.about .tradicii_about .tra_about .tra_about_text{
    font-size: 24px;
    color: rgb(10, 3, 70);
   
}

.product .product_element{
    width: 25%;
    float: left;
    padding: 15px;
}
.product .product_element img{
    width: 100%;
    height: 320px;
}

.product .product_element .name{
    font-size: 23px;
    color: rgb(13, 13, 95);
    font-weight: bold;
    text-align: center;
}
.product .product_element .price{
    text-align: center;
}
.video .body_element{
    text-align: center;
}
.photos .photo_element{
    float: left;
    width: 25%;
    padding: 10px;
}

.photos .photo_element img{
    width: 100%;
    height: 320px;
}

.contact_form .map,.contact_form  .form{
    float: left;
    width: 50%;
    padding: 10px;
}
.contact_form  .form{
    color:  rgb(13, 13, 95);
    padding-left: 30px;
    font-size: 30px;
    text-align: center;
}
.contact_form  .form form{
     padding-top: 40px;
}
.contact_form  .form label{
margin-top: 30px;
    display: block;
}

.contact_form  .form input{
    width: 200px;
    height: 30px;
padding-left: 10px;
border-radius: 10px;
border: 1px solid rgb(13, 13, 95);
}
.contact_form  .form button{
    background-color: gold;
    border: 1px solid gold;
    padding: 5px;
    font-size: 25px;
    border-radius: 10px ;
    width: 220px;
    margin-top: 30px;
    cursor: pointer;
}  
.contact_form .social_link a{
    color:  rgb(50, 50, 255);
    padding-left: 0px;
    font-size: 50px;
    text-align: center;

}

.footer{
    background-color: black;
    color: white;
}

.footer .saltykova{
    text-align: center;
}